#cain {
  width: auto;
  margin: 20px;
}

.round-pics {
  border: 1px solid;
  border-radius: 50%;
  height: 150px;
  width: 150px;
  display: inline-block;
  margin-bottom: 20px;
}

.likes {
  opacity: 80%;
  line-height: 1.6;
  padding: 0 20%;
}

.container {
  align-items: center;
  margin-bottom: 40px;
}

@media only screen and (max-width: 850px) {
  blockquote {
    margin-block-start: 2em;
  }

  .container {
    display: inline-block;
  }

  .likes {
    padding: 0 2em;
    width: auto;
  }
}
